html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden hidden;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(https://cdn.discordapp.com/attachments/833651717546704916/1016035792344322228/Sans_titre-1.png);
}

.img-center {
text-align: center;
height:100vh;
display: flex;
justify-content:center;
align-items:center;
}


 .sky {
   height: 100%;
   color: #FFF;
   display: block;
 }